@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  font-family: Poppins, Helvetica, sans-serif;
}

.page-container {
  min-width: 375px;

  /*  max-width: 768px; */

  /*  border: 5px solid chartreuse; */
  width: 100%;
  height: auto;
  background-color: white;
}

.show-alert {
  display: block;
  color: red;
}

.hide-alert {
  display: none;
}

.headercontainer {
  display: flex;
  width: 100%;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #6070ff;
  background-color: #fff;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 20px;
  margin-left: -27px;
  color: #6070ff;
  text-decoration: none;
}

.hambrgricon {
  margin-left: 96px;
}

.navlist {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: flex-end;
}

.nav li {
  align-content: space-between;
}

.try {
  background-color: #7f8cff;
}

.content {
  background-image: url(images/header-shapes-mobile.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
}

.boldtext {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  word-wrap: normal;
  padding-top: 110px;
  margin-left: 20px;
}

.intro {
  font-style: normal;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}

.socialmediatag {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 20px;
  margin-top: 13px;
}

.socialmediaicons {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 10px;
  margin-top: 15px;
}

.socialmediaicons li {
  height: 40px;
}

.iconspace {
  margin-right: 12px;
}

.fa-brands {
  height: 40px;
  margin-left: 10px;
  color: #505f79;
}

.fab {
  color: #505f79;
}

/* works section starts here */

.works-section-container {
  background-color: #e5e5e5;
  width: 100%;

  /* border: 5px solid #df5819; */
  border-radius: 16px;
  padding: 20px;
  margin-top: 114px;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 88px;
}

.card-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 24px;

  /*  border: 1px solid blueviolet; */
}

.img-container {
  width: 100%;
  height: auto;

  /*  border: 1px solid green; */
}

.card-image {
  width: 100%;
  height: auto;
}

.content-container {
  display: flex;
  flex-direction: column;

  /* border: 1px solid #dfe1e6; */
  padding: 0;
  gap: 12px;
  width: 100%;
  height: auto;
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 100%;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-role {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: brown;
  width: 200px;
  margin-left: -7px;
}

.frame2 h2 {
  padding-right: 20px;
}

.frame2 ul li::before {
  /* background-color: #c1c7d0; */
  padding-left: 2px;
}

.card-role li {
  color: #7a869a;
}

.description {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
}

.description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  list-style: none;
}

.languagesDesktop {
  height: 30px;
}

.languagesDesktop li {
  background-color: #ebebff;
  border-radius: 8px;
}

/* .languages2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  list-style: none;
} */

.languages li {
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background-color: #ebebff;
  border-radius: 8px;
}

.word-style {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  list-style: none;
  float: left;
  margin-left: 10px;
}

li:last-child {
  width: 89px;
}

.action {
  width: 100%;
  height: 72px;
}

.action-button {
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.action-button:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.action-button:active {
  background-color: #2230d2;
  color: #fff;
}

.action-button:disabled {
  border: 1px solid #c1c7d0;
  color: #fff;
}

/* about my self section */
.about-container {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  padding: 114px 35px;
  gap: 24px;

  /* position: absolute; */
  width: 100%;
  height: 1125.15px;
  margin-top: 114px;
  background-color: #fff;
  border-top-right-radius: 110px;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 409px;
}

.about-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.about-intro {
  width: 100%;
  height: 144px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.socialmedia-container {
  margin-left: -18px;
}

.space-icon {
  padding-top: -30px;
}

.btn-container {
  width: 375px;
  height: 1263px;
  margin-bottom: 50px;
}

.resume-btn {
  width: 135px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  margin-top: -10px;
}

.resume-btn:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.resume-btn:active {
  background-color: #2230d2;
  color: #fff;
}

.resume-btn:disabled {
  border: 1px solid #c1c7d0;
  color: #fff;
}

.btn-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #396df2;
}

.skills-section {
  display: flex;
  width: 100%;

  /* border: 1px solid palevioletred; */
}

.about-languages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 36px;
  list-style: none;
  padding: 10px;
}

.first-option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.lang-correction {
  display: flex;
  margin-bottom: 10px;
}

/* .lang-correction i {
  padding-left: 117px;

} */

.lang-text {
  padding-right: 40px;
  margin-top: 10px;
}

.btn {
  border: 2px solid #acb7c3;
  color: #396df2;
}

.down-arrow {
  font-size: 20px;
  padding-right: 60px;
  margin-top: -10px;
}

.dwn-btn {
  border: none;
  background-color: white;
  color: #acb7c3;
}

.seperator {
  width: 100%;
}

.line {
  border: #dfe1e6 1px solid;
  width: 630px;
}

.space {
  margin-left: 544px;
}

.languagelist {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 248.15px;
}

.lang-list-item {
  display: flex;
  width: 303px;
  height: 66.72px;
  background-color: #f7f7f9;
  border-radius: 8px;

  /* margin-bottom: 24px;
  margin-top: 24px; */
  list-style: none;
  color: #253858;
}

.last-child {
  text-align: center;
  padding-right: 303px;
}

.language-img {
  width: 48px;
  height: 48px;
  margin-left: 12px;
  margin-top: 9px;
}

.lang-name {
  padding-top: 25px;
  padding-left: 16px;
}

.skillsec {
  display: flex;
  align-content: space-between;
}

.shapespace {
  margin-left: 181px;
}

.last {
  display: flex;
}

.last i {
  padding-left: 176px;
}

.contactus-container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 110px;
  background:
    #6070ff
    url(images/works_section_images/contact-form-shapes-mobile.svg) 100% -20px no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #6070ff;
  margin-top: 114px;
  padding-bottom: 10px;
}

.input-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-heading {
  padding-top: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding-bottom: 12px;
}

.contact_description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 64px;
}

#username {
  width: 100%;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  color: #172b4d;
}

#email {
  width: 100%;
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-left: 16px;
  margin-bottom: 18px;
  color: #172b4d;
}

#message {
  width: 100%;
  height: 170px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 15px 38px 16px 15px;
  color: #b3bac5;
  margin-bottom: 30px;
}

#gettouch {
  width: 140px;
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 12px 16px;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 32px;
}

#gettouch:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

#gettouch:active {
  background-color: #2230d2;
  color: #fff;
}

#gettouch:disabled {
  border: 1px solid #c1c7d0;
  color: #fff;
}

.bottom {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  border-radius: 10px;
  margin-bottom: -8px;
}

@media screen and (min-width: 375px)and (max-width: 768px) {
  .header2 {
    display: none;
  }

  .header2 .logo {
    display: none;
  }

  .navlist {
    background-color: #396df2;
    color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    padding-top: 70px;
    gap: 20px;
    font-weight: 600;
    font-size: 25px;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  .navlist li a {
    color: white;
    text-decoration: none;
  }

  .closeicon {
    position: relative;
    left: 126px;
    bottom: 57px;
  }
}

@media screen and (min-width: 768px) {
  .page-container {
    background-color: #e5e5e5;
  }

  .header2 {
    display: block;
    position: fixed;
  }

  .header1 {
    display: none;
  }

  .logo {
    /* margin-left: -106px; */
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    animation: mylogo ease-in 5s 3;
  }

  /* added animation to logo in desktop version */
  @keyframes mylogo {
    from {
      left: 0%;
    }

    to {
      left: 70%;
    }
  }

  .navlist {
    gap: 1px;
  }

  nav ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #344563;
    margin-right: 25px;
  }

  .boldtext {
    padding-top: 210px;
  }

  .content {
    background-image: url(images/Headerbg.svg);
    background-size: 100% 100%;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #fff;
    border-bottom-left-radius: 120px;
  }

  .img-container {
    flex: 1;
  }

  .content-container {
    flex: 1;
    margin-left: 20px;
  }

  .card-container {
    flex-direction: row;
    margin-right: 50px;
    margin-left: 50px;
  }

  .mobile {
    display: none;
  }

  /* image changed in desktop version */
  .desktop1 {
    content: url(/images/Desktop1.svg);
  }

  .desktop2 {
    content: url(/images/Desktop2.svg);
  }

  .desktop3 {
    content: url(/images/Desktop3.svg);
  }

  .desktop4 {
    content: url(/images/Desktop4.svg);
  }

  .frame2 .card-role li::before {
    padding-left: 5px;
  }

  .flex-order img {
    height: 326px;
  }

  .flex-order {
    order: 2;
  }

  .languagecontaner {
    margin-left: -10px;
    margin-top: 18px;
  }

  .action {
    margin-top: 20px;
  }

  .contactus-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    margin: auto 0;
  }

  .middle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    height: auto;
  }

  .about-myself {
    width: 100%;
  }

  .about-intro {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 20px;
  }

  .socialmediatag {
    margin-top: 0;
  }

  .socialmediaicons {
    margin-top: 1px;
  }

  .btn-container {
    width: 100%;
    height: auto;
  }

  .about-languages {
    display: flex;
    justify-content: normal;
    height: 350px;
    margin-top: 1px;
    margin-left: 25px;
  }

  .languagelist {
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    margin-top: 20px;
  }

  .lang-correction {
    align-items: center;
    justify-content: space-between;
  }

  /*  button .dwn-btn {
    width: 12px;
  } */

  .lang-list-item {
    flex-direction: column;
    width: 100px;
    height: 100px;
  }

  .lang-name {
    padding-top: 9px;
    padding-left: 12px;
    font-size: 15px;
  }

  .last-child {
    padding-right: 10px;
    text-align: left;
  }

  .form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  footer {
    background-color: #fff;
  }

  .bottom {
    display: none;
  }
}

/* DESKTOP VERSION */
@media screen and (min-width: 1024px) {
  .header1 {
    display: none;
  }

  .headercontainer {
    position: fixed;
  }

  .header2 {
    display: block;
  }

  .header2 .fa-times {
    display: none;
  }

  .navlist {
    gap: 1px;
  }

  nav ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #344563;
    margin-right: 25px;
  }

  .boldtext {
    padding-top: 210px;
  }

  .frame2 .mobile {
    display: none;
  }

  .lang-correction {
    align-items: center;
    justify-content: space-between;
  }

  .contactus-container {
    padding-left: 270px;
    padding-right: 270px;
  }

  .languagecontaner {
    margin-left: -10px;
    margin-top: 18px;
  }

  .languages {
    gap: 0;
  }

  .languages li:last-child {
    content: "webdevlopement";
  }

  .action {
    margin-top: 20px;
  }
}
